.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transform-origin: left;
  word-break: normal;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 2em;
}

.right {
  display: flex;
  justify-content: center;

  margin-left: 2em;
}

@media (max-width: 1281px) {
  .content {
    flex-direction: column;
  }

  .left {
    margin-right: unset;
    margin-bottom: 2em;
  }

  .right {
    margin-left: unset;
    margin-top: 2em;
  }
}

.title {
  font-size: 2.5em;
  font-weight: normal;
}

.name {
  color: rgb(236, 236, 236);
}

.description {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  transform-origin: left;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: left;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0;
  user-select: none;
  font-size: 1.5em;
  margin: 0.25em;
  padding: 1em;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.25em;
  text-align: center;
  flex: 1;
}

.linkIcon {
  display: flex;
  justify-content: center;
  min-width: 2em;
}

.linkIcon img {
  width: 1em;
  height: 1em;
  margin: 0.25em;
}

.linkIcon.inverted img {
  filter: invert(100%);
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.059);
}
